body { background-color:#eeeeee; }
.m0 { margin:0 !important; }
.media { overflow:inherit !important; }
.survey-edit-container, .survey-preview-container { color:#888; background-color:#fff; padding:15px; font-size:1em; margin-top:30px; }
.survey-preview-container { background-color:transparent; padding:0; margin-top:0; }
a { color:#888 !important; text-decoration:underline; }
.survey-title-container, .survey-question-container, .survey-question-add, .survey-question-preview { border:1px solid #eee; padding:10px; }
.survey-edit-container .survey-question-container { padding:0 !important; }
.survey-edit-container .survey-question-container .media { padding:2px 10px 10px 10px; overflow:inherit !important; }
.survey-preview-container .survey-title-container, .survey-preview-container .survey-question-container, .survey-preview-container .survey-question-add { background-color:#f5f5f5; }			
.survey-title-container .dropdown-toggle, .survey-question-container .dropdown-toggle { display:block; padding:0 5px 0 5px; }
.survey-question-container { margin-top:15px !important; }
.survey-question-container:first-child { margin-top:0 !important; }
.survey-question-container-handle { display:block; width:100%; height:12px; cursor: move; text-align:center; font-size:10px; }
.survey-title { font-size:2.1em; }
.survey-questions { margin-top:15px; }
.survey-question { font-size:1.625em; margin-bottom:10px; }
.survey-question-required::after { content:' *'; color:red; }
.survey-question-required::after { content:' *'; color:red; }
.survey-question-required-checkbox {  padding:5px 10px; color:#a94442; background-color:#f2dede; border:1px solid #ebccd1; border-radius:4px; }
.survey-question-order { font-size:1.4em; }
.survey-answer { font-size:1.125em; }
.survey-answer-option { margin-left:5px; }
.survey-answer-option-checkbox > i, .survey-answer-option-radio > i { }
.survey-answer-text { padding:5px 10px 5px 10px; border-bottom:1px dashed #ddd; }
.survey-question-add, .survey-question-preview { display:block; margin-top:15px; font-size:1.625em; text-align:center; }
.survey-question-preview { background-color:#f5f5f5; font-size:1.5em; }
.dropdown-menu { z-index:1000; }
.survey-answer-container-modal { border:1px solid #eee; padding:10px; }
.survey-answer-option-select, .survey-answer-option-radio, .survey-answer-option-checkbox { margin-top:10px; }
.survey-answer-option-new { margin-top:10px; }
.survey-answer-option-new-other { margin-left:10px; }
.other-input-container { padding-left:20px; }
.select2 { width:100% !important; }